#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  @apply bg-white dark:bg-gray-800 text-gray-900 dark:text-gray-100 transition-colors duration-300;
}

.read-the-docs {
  color: #888;
  @apply dark:text-gray-400;
}


.react-select__control {
  border-radius: 0.5rem;
  min-height: 42px;
  border-color: #d1d5db;
}

.react-select__control--is-focused {
  border-color: #14b8a6;
  box-shadow: 0 0 0 1px #14b8a6;
}

.react-select__multi-value {
  background-color: #e6fffa;
  border-radius: 9999px;
  padding: 2px 6px;
}

.react-select__multi-value__label {
  color: #065f46;
  font-size: 12px;
}

.react-select__multi-value__remove:hover {
  background-color: #99f6e4;
}
